.btn {
  font-family: 'Inter', sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  min-width: 280px;
  border: none;
  border-radius: $radius-default;
  cursor: pointer;
  transition: $transition-default;

  &_primary {
    color: $white;
    background-color: $primary;

    &:hover {
      background-color: $primary-light;
    }

    &:focus {
      background-color: $primary-dark;
    }
  }
}
