.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_auth {
    flex-grow: 1;
  }

  &_profile {
    color: rebeccapurple;
    min-width: 510px;
  }
}

.form__button {
  margin-top: auto;
}
