---
bodyClass: body_auth
scripts:
- ../index.js
stylesheets:
- ../scss/main.scss
title: Index
---
{{#extend "base"}}
    {{#content "main"}}
        <main>
            <div class="paper paper_auth">
                {{>subtitle class="paper__subtitle" text="Вход"}}
                {{>form formClass="paper__form form_auth"}}
                {{>link class="paper__link" href="./sign-up.hbs" text="Нет аккаунта?"}}
            </div>
        </main>
    {{/content}}
{{/extend}}
