{{#extend "base"}}
    {{#content "main"}}
        <main>
            {{>subtitle text="Вход"}}
            {{>form}}
            {{>link href="./login.hbs" text="Войти"}}
        </main>
    {{/content}}
{{/extend}}
