<p class="base-input">
    <label class="base-input__label">
        <span class="base-input__text">{{text}}</span>
        <input class="base-input__input" type="{{#if type}}{{type}}{{else}}text{{/if}}"/>
    </label>
    <span class="base-input__validation-text">{{validationText}}</span>
</p>
