<p class="field">
    <label class="field__label">
        <span class="field__text">{{text}}</span>
        <input class="field__input" type="{{#if type}}{{type}}{{else}}text{{/if}}"/>
    </label>
    <span class="field__validation-text">{{validationText}}</span>
</p>
