<form class="form {{formClass}}" method="get">
    {{>field validationText="Неверный логин" text="Логин"}}
    {{>field text="Пароль" type="password"}}

    {{>button class="form__button" text="Авторизоваться"}}
</form>
