<form class="form {{formClass}}" method="get">
    {{>base-input validationText="Неверный логин" text="Логин"}}
    {{>base-input text="Пароль" type="password"}}

    {{>button class="form__button" text="Авторизоваться"}}
</form>
