---
bodyclass: index
scripts:
- ./index.js
stylesheets:
- ./scss/main.scss
title: Index
---

{{#extend "base"}}
    {{#content "main"}}
        <main>
            <h1>Welcome from index.hbs</h1>
            {{>button}}
            <a href="./pages/sign-up.hbs">profile page</a>
            <a href="./pages/login.hbs">login page</a>
        </main>
    {{/content}}
{{/extend}}
